.confetti{
		--animation_speed : 40s;
		--paper_color1:#a4d6f3;
		--paper_color2:#ff0000;
		--paper_color3:#d700ff;
		--paper_color4:#0000ff;
		--paper_color5:#ffb000;
		--paper_color6:#ff00e0;
		position: relative;
		width: 100px;
		height: 150px;
	}

	.confetti::before{
		content: '';
		position: absolute;
		top: -50px;
		left: 50%;
		transform:translateX(-50%);
		width: 100px;
		height: 150px;
		z-index: 1;
		background-repeat: no-repeat;
		display: block;
		animation: confetti ease-out 2s forwards;
		background-image:linear-gradient(var(--paper_color1) 50%, transparent 20%), 
		linear-gradient(var(--paper_color2) 50%, transparent 20%),
		linear-gradient(var(--paper_color3) 25%, transparent 20%),
		linear-gradient(var(--paper_color4) 40%, transparent 20%),
		linear-gradient(var(--paper_color5) 70%, transparent 20%),
		linear-gradient(var(--paper_color6) 60%, transparent 20%),
		linear-gradient(var(--paper_color1) 40%, transparent 20%),
		linear-gradient(var(--paper_color2) 50%, transparent 20%),
		linear-gradient(var(--paper_color3) 15%, transparent 20%),
		linear-gradient(var(--paper_color4) 40%, transparent 20%),
		linear-gradient(var(--paper_color5) 70%, transparent 20%),
		linear-gradient(var(--paper_color6) 60%, transparent 20%),
		linear-gradient(var(--paper_color1) 45%, transparent 20%),
		linear-gradient(var(--paper_color2) 75%, transparent 20%),
		linear-gradient(var(--paper_color3) 55%, transparent 20%);
		background-size: 8px 8px, 5px 7px, 5px 6px, 7px 8px, 8px 6px, 8px 8px, 5px 9px,7px 6px, 8px 8px, 5px 7px, 5px 9px, 6px 9px, 4px 6px, 5px 7px,8px 5px;
	}

	@keyframes confetti {
		0%{
		background-position: 10% -10%, 18% 10%, 25% -10%, 34% -10%, 40% -10%, 47% -10%, 53% 0%,60% 20%, 67% 0%, 73% 0%, 79% 0%, 85% 0%, 92% 10%, 92% 10%, 99% 0%;
		}
		50% {
		background-position: 0% 80%, 8% 80%, 16% 60%, 32% 100%, 40% 70%, 48% 60%, 54% 0%,62% 80%, 70% 80%, 78% 60%, 84% 100%, 90% 70%, 95% 60%, 100% 80%, 88% 80%;}
		100% {
		background-position: 0% 90%, 10% 90%, 18% 70%, 25% 110%, 37% 80%, 45% 70%, 57% 10%,63% 90%, 72% 90%, 80% 70%, 88% 110%, 92% 80%, 96% 70%, 100% 90%,84% 90%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%,0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
		}
	}

/* wrapper para centrar el confetti en pantalla */
.confetti-wrapper{
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 9999;
    background: transparent;
}

