/* GENERAL */
body {
    background-color: #f9f9fa;
}

.page-wrapper {
    width: 100%;
}

.content-wrapper {
    padding: 3rem;
}

.center-content {
    display: flex;
    justify-content: center;
}

.profile-card-container {
    width: 100%;
    max-width: 80em;   
}

/* CARD */
.profile-card {
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 20px rgba(69, 90, 100, 0.08);
    margin-bottom: 30px;
    min-height: 400px; /* Altura mínima en lugar de fija */
    height: auto; /* Se ajusta al contenido */
}

.profile-row {
    display: flex;
    flex-direction: row;
}

/* LEFT SIDEBAR */
.profile-sidebar {
    width: 25%;
    background: linear-gradient(to right, #507b00, #95c22b);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    min-height: 400px; /* Altura mínima en lugar de fija */
    height: 100%; /* Se ajusta al contenedor padre */
}

.profile-image-wrapper {
    margin-bottom: 25px;
}

.profile-image {
    border-radius: 20px;
    width: 200px;
    height: 200px;

}

.profile-name {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}


.icon-edit {
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* RIGHT DETAILS */
.profile-details {
    width: 60%;
}

.profile-details-content {
    padding: 1.25rem;
}

.section-title {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

/* DATA ROWS */
.details-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.details-group {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

.field-label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.field-value {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}

.section-title {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 8px;
    border-bottom: 2px solid #507b00;
    margin-bottom: 25px;
}

.tarjetas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;;
}

/* TEXT ADJUSTMENTS FOR LARGE SCREENS */
@media only screen and (min-width: 1400px) {
    p, 
    .profile-role,
    .field-value {
        font-size: 14px;
    }
}
